.btn {
    background-color: $color-primary;
    color: #fff;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    cursor: pointer;
    border: 1px solid darken($color-primary, 8);
    font-weight: 1.6rem;

    &--gray {
        background-color: $color-gray-light;
        color: $color-gray-dark;
        border: 1px solid darken($color-gray-light, 8);
    }

    &--large {
        padding: 0.8rem 7rem;

    }
}