.btn {
    background-color: $color-secondary;
    color: #fff;
    padding: 0.5rem;
    font-size: 0.8rem;
    margin: 0.5rem;
    cursor: pointer;
    border: 1px solid darken(#37bb37, 8);

    &--gray {
        background-color: #ececec;
        color: #333;
        border: 1px solid darken(#ececec, 8);
    }
}